/*
/eMarket_1/web/monstyle.css
*/
/* 
    Created on : 21 mars 2025, 14:36:19
    Author     : laurentsun
*/

body {
    background-color: white;
    color: black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
    color: purple;
    font-family: Arial Black, sans-serif;
    border-bottom: 1px solid purple;
}
p {
	font-size: 11pt;
	text-align: justify;
}
a {
	font-weight: bold;
	color: orange;
}

.redtext {
	color: red;
    font-weight: bold;
}

#texteParticulier {
    color: blue;
    font-style: italic;
}

#panier {
    color: green;
    font-weight: bold;
}

#catalogue {
    color: red;
    font-weight: bold;
}


